.container {
    display: flex;
    flex-wrap: wrap;
    width:70%;
    margin: auto;
    justify-content: center;
}
.div1 {
    flex:1;
    background: pink;
    margin: 10px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
.div2 {
    width: 240px;
    background: lightcyan;
    margin: 10px;
}
img {
    width: 100%;
}
#text-color {
    background: blue;
}
#text-area {
    width:80%;
    margin: auto;
    display: flex;
}
#image {
    flex:5;
    margin: 10px;
}
#text {
    flex:6;
    margin: 10px;
    color:white;
}