/*structure*/
body {
    background: #2D5265;
}
.song-div {
    margin: 20px;
    text-align: center;
    background: rgb(202, 231, 241);
    border-radius: 10px;
}
.modal-txt {
    flex:2;
    margin: 20px;
}
.w3-container {
    background: #d3e5e7;
}

/*images*/
img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
iframe {
    width: 100%;
    flex:1;
    margin: 10px 10px 10px 0;
}

/*typography*/
header h1, footer {
    color: #d3e5e7;
}
header h2 {
    color: #A4C0C3;
}
header, footer {
    text-align: center;
}
#music {
    color: #874871;
}
.modal-txt p, .song-div h5 {
    color: #15313e;
}


/*larger devices*/
@media (min-width: 768px) {
    .columns {
        display: flex;
    }
}