/*Work on layout for mobile first!!*/
/*w3schools/media smthhh?*/
/*Main Structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #cae4fb;
}

#main-content {
    width:80%;
    margin:auto;
}

#main-header {
    background: #f4e6f4;  
}

#content {

}

#main-footer {

}

/*Gallery*/
#gallery section {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    margin:5px;
}

/*Navigation*/
#main-nav ul {
    padding-left: 0;
    /*removed indentation*/
}
#main-nav li {
    list-style-type: none;
    /*removed bullet*/
    background: #b4cded;
    padding: 5px;
    border-bottom: 1px solid #f4e6f4;
    flex:1;
    /*makes each link have same width*/
}
#main-nav a {
    text-decoration: none;
    /*removed underline*/
}

/*Typography*/
#main-header h1 {
    text-align: center;
}

/*Larger devices*/
@media (min-width: 768px) {
    .columns {
        display: flex;
    }
    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }
    .four {
        flex:4;
    }
    #main-nav ul {
        display: flex;
    }
    #main-nav li {
        background: transparent;
    }
    #main-nav a {
        color: darkslateblue;
        border-bottom: 1px solid transparent;
    }
    #main-nav a:hover {
        border-bottom: 1px solid darkslateblue;
    }
}