div {
    width: 70%;
    margin: auto;
    background: lightblue;
}
body {
    background-image: url("images/");
}
h1 {
    color: pink;
}
h2 {

}
h3 {
    
}
p {

}
img {
   border: 5px solid purple; 
}
table {
    border: 1px solid green;
    border-collapse: collapse;
}
th, td {
    border: 1px solid green;
    padding: 7px;
}
th {

}