/*Main Structure*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F2EED8;
    margin: 0;
}
#main-content {

}
#bottom-rows {
    background: #F2EED8;
}
.bottom-row {
    display: block;
    color:#FFFFFF;
    margin: 0 5px;
    padding:0;
}
.rowof3 {
    width:60%;
    margin: auto;
}
.bottom-row-color {
    background: #5E888C;
    margin: 10px;
}
.bottom-row-color2 {
    background: #A4BFB8;
    margin: 10px;
}
#main-footer {
    background: #D98484;
    padding: 10px;
    margin: auto;
}
.first-row {
    margin: 5px;
}
.flex-container {
    padding: 0;
}

/*Images*/
.first-row-image {
    text-align: center;
    margin: 0 20px;
}
.bottom-row-image {
    text-align: center;
    margin: auto;
}


/*Navigation*/
#main-nav ul {
    padding-left: 0;
    text-align: center;
    margin: 1px 0;
}
#main-nav li {
    list-style-type: none;
    background: #D98484;
    padding: 8px;
    border: 1px solid #A4BFB8;
    flex:1;
}
#main-nav a {
    text-decoration: none;
    color: #FFFFFF;
}

/*Typography*/
#main-header h1 {
    color: #5E888C;
    text-align: center;
}
#important-txt {
    color: #5E888C;
    margin: 5px;
}
.first-row h3 {
    text-align: center;
    background: #5E888C;
    padding: 10px;
    color: #FFFFFF;
    margin: 0;
}
#main-footer p {
    color: #FFFFFF;
    text-align: center;
}

/*Larger devices*/
@media (min-width: 768px) {
    .columns {
        display: flex;
    }
    .one {
        flex: 1;
    }
    .two {
        flex:2;
    }
    #main-nav ul {
        display: flex;
        text-align: center;
    }
    .flex-container, .rowof3 {
        display: flex;
    }
    .bottom-rows {
        display: block;
    }
}