/*MAIN STRUCTURE*/
#main-header, footer {
    text-align: center;
}
#exercise-btn {
    justify-content: center;
}


/*Button*/
#exercise-btn p:not(:last-child)::after {
    content:"|";
    margin: 0 10px;
}

/*LARGER DEVICES*/
@media (min-width: 768px) {
    .one {
        flex: 1;
    }
    .columns {
        display: flex;
    }
}