#main-content {
    width: 70%;
    margin:auto;
    background: lightblue;
    padding: 15px;
}
#about-body {
    background-image: url("images/Happy-Feet.jpg");
}
button {
    color:cadetblue;
    background: navy;
    border: 2px solid white;
}

button:hover {
    color:navy;
    background: cadetblue;
    border: 2px solid black;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    padding: 0 30px;
}

#secret {
    color: red;
}

.secret-p-man {
    color:blue;
    text-align: right;
}
