/*MAIN CONTENT*/
body {
    background: #ECF2D5;
}
header, footer {
    text-align: center;
}

/*TYPOGRAPHY*/
header h1 {
    color: rgb(216, 123, 139);
}
header h2 {
    color: rgb(138, 52, 66);
}
footer {
    color: rgb(138, 52, 66);
}

/*FISH BOWL*/
/*from @nomadicfathersons "Animation of AQUARIUM with fish of Bowl using HTML CSS" on youtube*/
#aquarium-holder {
    position: relative;
    width:500px;
    height: 400px;
    margin: 20px auto 0;
}
#aquarium {
    position: relative;
    width: 500px;
    height: 400px;
    border-bottom: 5px solid rgba(41, 74, 117, 0.1);
    border-left: 1px solid rgba(41, 74, 117, 0.1);
    border-right: 1px solid rgba(41, 74, 117, 0.1);
    border-top: 1px solid white;
    border-radius: 45%;
    background: #e6f6ff;
}
#aquarium-water {
    position: absolute;
    top:30%;
    left: 10%;
    width: 400px;
    height:300px;
    border-bottom: 5px solid rgba(41, 74, 117, 0.1);
    border-left: 1px solid rgba(41, 74, 117, 0.1);
    border-right: 1px solid rgba(41, 74, 117, 0.1);
    border-top: 1px solid white;
    border-radius: 45%;
    background: #b5d5fe;
}
#aquarium-top {
    z-index: 2;
    position: relative;
    left:50%;
    width:80%;
    height: 30px;
    top: 40px;
    border-radius: 50%;
    background: #e6f6ff;
    outline: 1px solid transparent;
    border: 1px solid rgba(24, 50, 83, 0.1);
    transform: translateX(-50%);
    border-top: 6px solid rgba(41, 74, 117, 0.1);
    border-bottom: 4px solid rgba(41, 74, 117, 0.1);
}

/*BUBBLE*/
.bubble{
    /* left: 80px; */
    left: 390px;
    z-index: 1;
    width:15px;
    height: 15px;
    background: rgba(201, 214, 230, 0.1);
    border-radius: 50%;
    position: absolute;
    
    animation-name: float;
    animation-duration: 4s;
    /*how many times to repeat animation*/
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
        top:340px;
        background: rgba(255, 255, 255, 0.9);
    }
    20% {
         background: rgba(255, 255, 255, 0.6);;
        }
    50% {
         background: rgba(255, 255, 255, 0.2);
        }
    60% {
         background: rgba(255, 255, 255, 0.1);
        }
    100% {
         background: rgba(255, 255, 255, 0);
         top:150px;
        }
}
