/*Structure*/
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content {
    width: 75%;
    margin: auto;
    background: #f5d8d8;
    padding: 10px 20px;
    box-shadow: 10px 10px #b86271;
    border-radius: 7px;
}

/*Navigation*/
#nav {
    color: #f9bbc6;
    background: #594246;
    padding: 3px;
    border-radius: 3px;
}
#nav:hover {
    background: #8b7b7e;
}
a {
    text-decoration: none;
    color: #793c47;
}

/*Typography*/
h1 {
    color: #F2778D;
}
h2 {
    color: #b86271;
}
p {
    color: #793c47;
}