/*Structure*/
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f5d8d8;
}
#content {
    width: 80%;
    margin: auto;
}

/*Assignments*/
#assignments section{
    background: #F2778D;
    padding: 5px;
    margin: 5px;
}
.assign-img {
    text-align: center;
}
section h3 {
    text-align: center;
}
/*Projects*/
#projects section{
    background: #F2778D;
    padding: 5px;
    margin: 5px;
}

/*Navigation*/
#nav {
    color: #f9bbc6;
    background: #594246;
    padding: 3px;
    border-radius: 3px;
}
#nav:hover {
    background: #8b7b7e;
}
a {
    text-decoration: none;
    color: #672a35;
}

/*Typography*/
#main-header h1 {
    color: #F2778D;
    text-align: center;
}
#main-content h2 {
    color: #b86271;
    text-align: center;
}
p {
    color: #793c47;
}

/*Larger Devices*/
@media (min-width: 768px) {
    .columns {
        display: flex;
    }
    .one{
        flex:1;
    }
    #projects {
        width: 33.3%;
        margin: auto;
    }
}