/* #container {
    display: flex;
} */
.pink {
    background: pink;
    margin: 10px;
    text-align: center;
}
.blue {
    background: lightblue;
    margin: 10px;
    text-align: center;
}
.orange {
    background: lightsalmon;
    margin: 10px;
    text-align: center;
}

/*For bigger screens*/
@media screen and (min-width: 768px) {
    .columns {
        display:flex;
    }
    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }
    .four {
        flex:4;
    }
    .five {
        flex:5;
    }
}