/*VAIRBLES*/
:root {
    --main-background: #bde0fe;
    --main-header: #ffafcc;
}


/*Work on layout for mobile first!!*/
/*w3schools/media smthhh?*/
/* Main Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background:var(--main-background);
}

#main-content {
    width:80%;
    margin:auto;    /* Center */
}

#main-header {
    background:#ffafcc;
    position: relative;
}
#gallery {
    flex-wrap: wrap;
}
#gallery section {
    background-color: white;
    padding: 10px;
    margin:5px;
    min-width: 29%;
    min-height: 250px;
}

/* #content {

} */

#sidebar {
    background:lightcoral;
}

/* #main-footer {

} */

/* header */
#logo {
    margin: 10px;
}
#login-nav {
    position: absolute;
    right: 5%;
    top:5%;
}
#login-nav li:not(:last-child)::after {
    content:"|"
}

/* Square */
#square {
    width: 100px;
    height:100px;
    background: lightsalmon;

    /* in respect to upper left hand corner, content stays there*/
    position: absolute;
    top:50px;
    left:50px;

    /* relative is relative to the parent */
    /* position: relative;
    top:30px;
    left:0px; */
}

/* Gallery */
#gallery section {
    background:aliceblue;
    padding:5px;
    border-radius:5px;
    margin:5px;
}

#gallery section h3 {
    text-align:center;
}

/* List */
.item {
    margin:5px;
    background:#cdb4db;
}
.item img {
    display:block;
    margin:auto;
}

/*Area*/
.area {
    height: 400px;
    background: rgb(245, 220, 245);
    /*to get margin in only middle*/
    /* width: 49%; */
    position: relative;
}

.arrow {
    font-size: 1.5em;
    color:white;
    position: absolute;
    top:32%;
}
#prev {
    left:5%;
}
#next {
    right:5%;
}
#slide-desc {
    position: absolute;
    bottom:10%;
    left:5%;
    background:rgba(225,225,225,0.8);
    padding: 5px;
    max-width: 40%;
}
/* Images */
img {
    max-width: 100%;
}

/* Navigation */
#toggle-nav div {
    width: 25px;
    height:2px;
    background-color: darkslateblue;
    margin:6px 0;
}
nav ul {
    padding-left:0;     /* Remove indentation */
}

nav li {
    list-style-type:none;   /* Remove bullet */
    background:#ffc8dd;
    padding:5px;
    border-bottom:1px solid #cdb4db;
}

nav a {
    text-decoration: none;  /* Remove underline */
}

/*BALLL*/
#ball-playground {
    position: relative;
}
#ball {
    width:25px;
    height: 25px;
    background: magenta;
    border-radius: 50%;
    position: absolute;
}
.bounce {
    animation-name: bounce;
    animation-duration: 2s;
    /*how many times to repeat animation*/
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0% {
        top:0px;
        background: magenta;
    }
    20% {
         background: orange; 
        }
    50% {
         background: green; 
         top:200px;
        }
    75% {
         background: blue; 
        }
    100% {
         background: rebeccapurple; 
         top:0px;
        }
}


/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:10px;
}
.hide-small {
    display: none;
}

/* Larger devices */
@media (min-width: 768px) {
    #toggle-nav {
        display: none;
    }
    #content {
        /*specifies where space is supposed to be*/
        justify-content: space-between;
        gap:1em;
    }
    .columns {
        display:flex;
    }
    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }
    .four {
        flex:4;
    }

    nav ul {
        display:flex;
    }

    nav li {
        background:transparent;
        flex:1;
    }

    nav a {
        color: darkslateblue;
        border-bottom:1px solid transparent;
    }

    nav a:hover {
        border-bottom:1px solid darkslateblue;
    }

    .item img {
        flex:1;
    }

    .item div {
        flex:5;
    }
    .hide-small {
        display: flex;
    }
}